* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 702px) {
  .container {
    background-color: black;
  }
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}
.item-a {
  background-color: aquamarine;
}
.item-b {
  background-color: bisque;
}
.item-c {
  background-color: rgb(127, 153, 255);
}
.item-d {
  background-color: rgb(229, 255, 127);
}
.item-f {
  background-color: rgb(255, 127, 236);
}
.item-e {
  background-color: rgb(255, 127, 127);
}
